.navbar {
  width: 100vw;  
  position: relative;           /* take full screen width */
  background-color: #222;      /* dark background */
  display: flex;               /* flexbox layout */
  justify-content: space-between; /* logo left, links right */
  align-items: center;         /* vertical centering */
  padding: 20px;          /* spacing inside */
  box-sizing: border-box;
  gap: 95px;
  flex-wrap: wrap;           /* wrap on small screens */
  border-radius: "10px";
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
  margin-top: "5px";

}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: yellow;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;                   /* space between items */
  margin: 0;
  padding: 0;
}

.nav-links li {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: yellow;               /* hover effect */
}

.active {
  color: yellow;               /* highlight active tab */
  font-weight: bold;
  border-bottom: 2px solid yellow;
}
