.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background: #222;
  color: #fff;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.nav-links li{
  padding: 6px 12px;
  border-radius: 6px;
  transition: background 0.3s;
}

.nav-links li:hover{
  background:#444;
}
.nav-links .active{
  background: #007bff;
  font-weight: bold;
}