/*if id then #heading,if class then .heading*/

/*
.heading{
    color:"blue";
    background-color: yellow;
}
body{
    background-color: skyblue;
}
button{
    background-color: blue;
    color:aliceblue;
}
*/

.box{
    height:100px;
    width:100px;
    border: 1px solid black;
    margin: 5px;
    text-align:center;
    background-color: aquamarine;
    
}














