body{
    background-color: hsl(0, 68%, 69%);
    margin: 0;
    padding: 0;
    height: 100vh;
}
.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    /* margin-top: 100px; */
}
h1{
    font-size: 4rem;
    color: white;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
}
.add-button{
    background-color: hsl(125, 47%, 54%);
}
.add-button:hover{
    background-color: hsl(125, 47%, 44%);
}
.delete-button{
    background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
    background-color: hsl(10, 90%, 40%);
}
.move-button{
    background-color: hsl(207, 90%, 64%);
}
.move-button:hover{
    background-color: hsl(207, 90%, 54%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
    margin-right: 10px;
}
ol{
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 400px;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

/* .container{
  display: flex;
  flex-direction: column; /* stack title + list */
  /*justify-content: center; /* vertical center */
  /*align-items: center; /* horizontal center */
  /*min-height: 100vh; /* full height */
/*} */

.edit-button{
    background-color: hsl(45, 100%, 51%);
}
.edit-button:hover{
    background-color: hsl(45, 100%, 41%);
}
.edit-input {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.7);
  border-radius: 5px;
  flex: 1;
}

.save-button {
  background-color: hsl(200, 90%, 55%);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 10px;
}

.save-button:hover {
  background-color: hsl(200, 90%, 45%);
}