/*

body{
    background-color: rgb(68,227,29);
}
{/* joke lines *
.joke{                
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(50, 27, 223);
}
/* upper big writing *
h1{
    text-align: center;
    color: beige;
}


*/

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
span {
  padding: 2px 10px;
  font-size: 20px;
  border: 1px solid black;
  background-color: aliceblue;
  cursor: pointer;
  margin: 10px;
}
