/* overall layout */
.sidebar-section {
  display: flex;
  /* height: 100vh;
   */
    /* overflow: hidden;  */
  background-color: black;
}
.sidebar {
  height: 100vh;
  background-color: #1e1e2c;
  width: 90px;
 
  /* transition: all 0.3s ease; */
  /* min-width: 90px;
   display: flex;
  position: relative;
  
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; */
  position: fixed;
}
.sidebar-toggle {

  width: 200px;
  /* background-color: #0e0101;
  min-width: 240px;
  height: 100%; */
  transition: all 0.3s ease;
}
.sidebar-toggle-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
  /* padding: 10px; */
  cursor: pointer;
}
.sidebar-toggle-icons p svg{
  background-color: #a6b0f0;
  margin-top: 10px;
}

/* .container {
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
} */

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {     /* mean */
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: #2d1ce2;
  /* border-radius: 50%; */
}

@media(max-width:600px){
  .sidebar{
    display: none;
  }
}
