 
.navbar-profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; 
  border: 3px solid #135803;
  display: block;
  /* vertical-align: middle; */
  margin: 0 auto 30px;
  box-shadow: 0 0 10px rgba(59,143,243,0.5);
  transition: transform 0.3s ease;
}

.navbar-profile-pic img:hover{
  transform: scale(1.3);
}

.nav-items {
   display: flex;
   flex-direction: column; 
  /* align-items: center;  */
  gap: 1.0rem; 
  color: white;
  
   /* text-align: left;  */
  
   
}
.nav-items.collapsed {
  align-items: center;  
}

.nav-link {
  cursor: pointer;
  /* display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.1rem; */
  margin-top: 10px;
  transition: color 0.3s ease;
}

.nav-link a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  gap: 0.7rem;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link a:hover {
  /* color: #3c4de6; */
  transform: translateX(10px);
  background-color: rgb(222, 222, 237);
  padding: 5px;
  border-radius: 10px;
}
.nav-link svg{
  margin-right: 10px;
}

.nav-text {
  font-weight: 500;
  letter-spacing: 0.5px;
}


.nav-items.collapsed .nav-text {
  display: none;
}

.nav-link:hover .nav-text {
  color: #4545f8;
  
}

/* @media(max-width:768px){
.menu-container{
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}
.nav-items{
  flex-direction: row;
gap: 1rem;
}
.navbar-profile-pic img{
   display: none; 
}
} 
 .nav-link a.active{
  color: #f29f67;
  border-left: 5px solid #f29f67;
  padding-left: 10px;
  text-decoration: none;
}  */